<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karonda.service1.mapper.StorageMapper">
    <resultMap id="BaseResultMap" type="com.karonda.model.Storage">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="commodity_code" jdbcType="VARCHAR" property="commodityCode" />
        <result column="count" jdbcType="INTEGER" property="count" />
    </resultMap>
    <sql id="Base_Column_List">
        id, commodity_code, count
    </sql>
    <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from storage_tbl
        where commodity_code = #{commodityCode,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKey" parameterType="com.karonda.model.Storage">
        update storage_tbl
        set commodity_code = #{commodityCode,jdbcType=VARCHAR},
        count = #{count,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>