<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karonda.service2.mapper.OrderMapper">

    <insert id="insert" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.karonda.model.Order">
      insert into order_tbl (user_id, commodity_code, count, money)
      values(#{userId}, #{commodityCode}, ${count}, ${money})
    </insert>

</mapper>